.n-layout-header{
  height: 60px;
}

.n-layout-content {
  background: #f7f7f7;
  border-radius: 7px;
  height: calc(100vh - 60px);
  overflow: scroll;
  -ms-overflow-style: none ;  /* IE and Edge */
  scrollbar-width: none ;  /* Firefox */
}

:deep(.n-layout .n-layout-scroll-container::-webkit-scrollbar) {
  overflow: scroll;
  display: none;
}

:deep(.n-layout .n-layout-scroll-container::-webkit-scrollbar) {
  overflow: scroll;
  -ms-overflow-style: none ;  /* IE and Edge */
  scrollbar-width: none ;  /* Firefox */
}

.n-layout-sider{
  padding: 30px 0;
  height: 100vh;
}